<div class="col-xs-12 col-sm-8 col-md-9 content-column">
  {{ partial "mobileNavToggle.html" . }}
  {{ with .Site.Params.profileImage }}
    <div class="masthead-image" style="background-image: url({{ . | absURL }})">
    </div>
  {{ end }} 
  <div class="center">
    {{ with .Site.Params.firstName }}
      <span data-in-effect="flash" class="animatedText name">{{ . | safeHTML }}</span>
    {{ end }} 
    {{ with .Site.Params.lastName }}
      <span data-in-shuffle="true" data-in-effect="flipInX" class="animatedText name">{{ . | safeHTML }}</span>
    {{ end }} 
  </div>

  <h2>Animations</h2>
  <div class="grid">    
    <div class="row">
      {{ range (where .Data.Pages "Section" "portfolio") }}
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 masonry-item">
          <div class="box-masonry">
            {{ if and (isset .Params "image") .Params.image }}
              {{ if eq .Params.showonlyimage true }}
              <a href="{{ .Permalink }}" title="" class="box-masonry-image with-hover-overlay">
              {{ else }}
              <a href="{{ .Permalink }}" title="" class="box-masonry-image with-hover-overlay with-hover-icon">
              {{ end }}
                <img src="{{ .Params.image }}" alt="" class="img-responsive">
              </a>
            {{ end }}
            {{ if eq .Params.showonlyimage true }}
            <div class="box-masonry-hover-text-header">
            {{ else }}
            <div class="box-masonry-text">
            {{ end }}
              <h4><a href="{{ .Permalink }}">{{ .Title }}</a></h4>
              <div class="box-masonry-desription">
                <p>{{ .Summary }}</p>
              </div>
            </div>
          </div>
        </div>
      {{ end }}
    </div>
  </div>
  <h2>Images</h2>
  <div class="grid">    
    <div class="row">
      {{ range (readDir "./static/images") }}
      {{ $config := imageConfig (delimit (slice "./static/images/" .Name) "") }}
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 masonry-item">
        <div class="box-masonry">
          <amp-img layout="responsive" width="{{$config.Width}}" height="{{$config.Height}}" src="./images/{{ .Name }}" alt="" class="img-responsive">
        </div>
      </div>
      {{ end }}
    </div>
  </div>
  <h2>Blog</h2>
  <div class="grid">    
    <div class="row">
      {{ range (where .Data.Pages "Section" "blog") }}
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 masonry-item">
          <div class="box-masonry">
            {{ if and (isset .Params "image") .Params.image }}
              {{ if eq .Params.showonlyimage true }}
              <a href="{{ .Permalink }}" title="" class="box-masonry-image with-hover-overlay">
              {{ else }}
              <a href="{{ .Permalink }}" title="" class="box-masonry-image with-hover-overlay with-hover-icon">
              {{ end }}
                <img src="{{ .Params.image }}" alt="" class="img-responsive">
              </a>
            {{ end }}
            {{ if eq .Params.showonlyimage true }}
            <div class="box-masonry-hover-text-header">
            {{ else }}
            <div class="box-masonry-text">
            {{ end }}
              <h4><a href="{{ .Permalink }}">{{ .Title }}</a></h4>
              <div class="box-masonry-desription">
                <p>{{ .Summary }}</p>
              </div>
            </div>
          </div>
        </div>
      {{ end }}
    </div>
  </div>
</div>
